
    
      <form class="col-md-12 simulation3" 
      (ngSubmit)="getSimulation3(f)" 
      #f="ngForm" 
      ngNativeValidate>

            <div class="form-header-group  header-default">
              <div class="header-text httal htvam">
                <h2>
                  Please answer all the questions
                </h2>
              </div>
            </div>

            <div>
            <label>1. What is your age?</label>
            <br>
            <input type="text" 
            required
            ngModel
            #age="ngModel"
            class="form-radio-other-input form-textbox" 
            name="age" data-otherhint="a" 
            size="15" 
            id="age" 
            tabindex="-1">
            </div>
            <br>

            <label class="form-label form-label-left form-label-auto" id="ld" for="ld">2. Do you have any specific learning disabilities? </label>
            <div id="cid_7" class="form-input">
              <select class="form-dropdown" 
              required
              ngModel
              #ld="ngModel"
              id="ld" name="ld"
              style="width:150px" 
              data-component="dropdown" 
              aria-labelledby="ld">
                <option ngValue="">  </option>
                <option ngValue="No"> No </option>
                <option ngValue="ADHD">ADHD</option>
                <option ngValue="Auditory processing disorder"> Auditory processing disorder</option>
                <option ngValue="Autism"> Autism </option>
                <option ngValue="Dyscalculia">Dyscalculia </option>
                <option ngValue="Dysgraphia"> Dysgraphia</option>
                <option ngValue="Dyslexia"> Dyslexia</option>
                <option ngValue="Dysparaxia"> Dysparaxia</option>
                <option ngValue="Executive functionning">Executive functionning</option>
                <option ngValue="Language processing disorder">Language processing disorder</option>
                <option ngValue="Memory problems"> Memory problems </option>
                <option ngValue="Non-verbal learning disabilities"> Non-verbal learning disabilities </option>
                <option ngValue="Visual perceptual deficit"> Visual perceptual deficit </option>
                <option ngValue="Other"> Other </option>
              </select>
            </div>
            <br>

            <label class="form-label form-label-left form-label-auto"
             id="el" 
             for="el">3. Choose your educational level </label>
            <div id="cid_8" class="form-input">
              <select class="form-dropdown" 
              required
              ngModel
              #el="ngModel"
              id="el" 
              name="el" 
              style="width:150px" 
              data-component="dropdown" 
              aria-labelledby="el">
                <option ngValue="">  </option>
                <option ngValue="Elementary(primary) school">Elementary/Primary school</option>
                <option ngValue="Middle school">Middle school</option>
                <option ngValue="High school"> High school </option>
                <option ngValue="b">Bachelor </option>
                <option ngValue="m">Master</option>
                <option ngValue="d">Doctorate</option>
              </select>
            </div>
            <br>

            <div class="mb-3">
              <label for="abroad">4. Intentions to study abroad?</label>
              <div class="input-group">
                <mat-radio-group
                required
                ngModel
                #abroad="ngModel" 
                name="abroad" >
                  <div class="form-check">
                    <mat-radio-button ngDefaultControl value="true" id="abroadyes">
                        Yes
                      </mat-radio-button>
                  </div>
                  <div class="form-check">
                    <mat-radio-button ngDefaultControl value="false" id="abroadno">
                        No
                      </mat-radio-button>
                  </div>
                </mat-radio-group>
              </div>
            </div>

            <label class="form-label form-label-left form-label-auto" id="major" for="major">
              5. Choose your desired majoring field </label>
            <div id="major" class="form-input">
              <select class="form-dropdown" 
              required
              ngModel
              #major="ngModel"
              id="major" 
              name="major" 
              style="width:150px" 
              data-component="dropdown" 
              aria-labelledby="major">
                <option ngValue="">  </option>
                <option ngValue="Aviation">Aviation/Flight Training</option>
                <option ngValue="Agriculture">Agriculture</option>
                <option ngValue="Animal studies">Animal studies</option>
                <option ngValue="Architecture">Architecture</option>
                <option ngValue="Interior Architecture">Interior architecture</option>
                <option ngValue="Chemistry">Chemistry</option>
                <option ngValue="Physics">Physics </option>
                <option ngValue="Biology">Biology</option>
                <option ngValue="Plant Biology">Plant Biology</option>
                <option ngValue="Medicine">Medicine</option>
                <option ngValue="Economics">Economics</option>
                <option ngValue="Education and teaching">Education and teaching</option>
                <option ngValue="Pharmacy">Pharmacy</option>
                <option ngValue="Business">Business and related sciences</option>
                <option ngValue="Advertising and marketing">Advertising and marketing</option>
                <option ngValue="Finance and banking">Finance and banking</option>
                <option ngValue="Arts">Arts</option>
                <option ngValue="Acting">Acting</option>
                <option ngValue="Graphic design">Graphic design</option>
                <option ngValue="Hospitality Managment">Hospitality Managment</option>
                <option ngValue="Nursing">Nursing</option>
                <option ngValue="Nutrition">Nutrition</option>
                <option ngValue="Human resourses">Human resourses</option>
                <option ngValue="Travel and tourism managment">Travel and tourism managment</option>
                <option ngValue="Restaurant/Food Services Management">Restaurant/Food Services Management</option>
                <option ngValue="International Law">International Law</option>
                <option ngValue="Telecommunication">Telecommunication</option>
                <option ngValue="Journalism">Journalism</option>
                <option ngValue="Radio and Television">Radio and Television</option>
                <option ngValue="Computer and Information Sciences">Computer and Information Sciences</option>
                <option ngValue="Technology">Technology</option>
                <option ngValue="Engineering ">Engineering </option>
                <option ngValue="Literature">Literature</option>
                <option ngValue="Photograph">Photography0</option>
                <option ngValue="Sports">Sports</option>
                <option ngValue="Music">Music</option>
                <option ngValue="Health">Public health</option>
                <option ngValue="Criminology">Criminology</option>
                <option ngValue="Dentisry">Dentisry</option>
                <option ngValue="Petrolium">Petrolium</option>
                <option ngValue="Translation">Translation</option>
                <option ngValue="Mathematic and statistics">Mathematic and statistics</option>
                <option ngValue="International affairs">International affairs</option>
              </select>
            </div>
            <br>
            <div class="mb-3">
              <label for="volunteer">6. Any volunteering work?</label>
              <div class="input-group">
                <mat-radio-group 
                required
                ngModel
                #volunteer="ngModel" 
                name="volunteer" >
                  <div class="form-check">
                    <mat-radio-button ngDefaultControl value="true" id="volunteeryes">
                        Yes
                      </mat-radio-button>
                  </div>
                  <div class="form-check">
                    <mat-radio-button ngDefaultControl value="false" id="volunteerno">
                        No
                      </mat-radio-button>
                  </div>
                </mat-radio-group>
              </div>
            </div>
          
            <div class="mb-3">
              <label for="club">7. Any club membership?</label>
              <div class="input-group">
                <mat-radio-group 
                required
                ngModel
                #club="ngModel" 
                name="club" >
                  <div class="form-check">
                    <mat-radio-button ngDefaultControl value="true" id="clubyes">
                        Yes
                      </mat-radio-button>
                  </div>
                  <div class="form-check">
                    <mat-radio-button ngDefaultControl value="false" id="clubno">
                        No
                      </mat-radio-button>
                  </div>
                </mat-radio-group>
              </div>
            </div>

            <div>
              <label>8. Please enter your family income per month (including yours if you work)</label>
              <br>
              <input type="text" 
              required
              ngModel
              #income="ngModel" 
              class="form-radio-other-input form-textbox" 
              name="age" data-otherhint="income" 
              size="15" 
              id="incom" 
              tabindex="-1"> $
              </div>
              <br>

            
        <button mat-raised-button color="primary" >
            Submit
        </button>


        </form>