
    
    <form class="col-md-12 simulation3" >

            <div class="form-header-group  header-default">
              <div class="header-text httal htvam">
                <h2>
                  Please answer all the questions
                </h2>
              </div>
            </div>

            <div>
            <label>1. What is your age?</label>
            <br>
            <input type="text" 
            class="form-radio-other-input form-textbox" 
            name="age" data-otherhint="a" 
            size="15" 
            id="age" 
            tabindex="-1">
            </div>
            <br>

            <label class="form-label form-label-left form-label-auto" id="label_7" for="input_7">2. Do you have any specific learning disabilities? </label>
            <div id="cid_7" class="form-input">
              <select class="form-dropdown" id="input_7" name="q7_2How7" style="width:150px" data-component="dropdown" aria-labelledby="label_7" required>
                <option value="">  </option>
                <option value="No"> No </option>
                <option value="ADHD">ADHD</option>
                <option value="Auditory processing disorder"> Auditory processing disorder</option>
                <option value="Autism"> Autism </option>
                <option value="Dyscalculia">Dyscalculia </option>
                <option value="Dysgraphia"> Dysgraphia</option>
                <option value="Dyslexia"> Dyslexia</option>
                <option value="Dysparaxia"> Dysparaxia</option>
                <option value="Executive functionning">Executive functionning</option>
                <option value="Language processing disorder">Language processing disorder</option>
                <option value="Memory problems"> Memory problems </option>
                <option value="Non-verbal learning disabilities"> Non-verbal learning disabilities </option>
                <option value="Visual perceptual deficit"> Visual perceptual deficit </option>
                <option value="Other"> Other </option>
              </select>
            </div>
            <br>

            <label class="form-label form-label-left form-label-auto" id="label_8" for="input_8">3. Choose your educational level </label>
            <div id="cid_8" class="form-input">
              <select class="form-dropdown" id="input_8" name="q8_2How8" style="width:150px" data-component="dropdown" aria-labelledby="label_8" required>
                <option value="">  </option>
                <option value="Elementary(primary) school">Elementary/Primary school</option>
                <option value="Middle school">Middle school</option>
                <option value="High school"> High school </option>
                <option value="b">Bachelor </option>
                <option value="m">Master</option>
                <option value="d">Doctorate</option>
              </select>
            </div>
            <br>
            <div class="mb-3">
              <label for="abroad">4. Intentions to study abroad?</label>
              <div class="input-group">
                <mat-radio-group name="abroad" >
                  <div class="form-check">
                    <mat-radio-button ngDefaultControl value="true" id="abroadyes">
                        Yes
                      </mat-radio-button>
                  </div>
                  <div class="form-check">
                    <mat-radio-button ngDefaultControl value="false" id="abroadno">
                        No
                      </mat-radio-button>
                  </div>
                </mat-radio-group>
              </div>
            </div>

            <label class="form-label form-label-left form-label-auto" id="label_9" for="input_9">5. Choose your desired majoring field </label>
            <div id="cid_9" class="form-input">
              <select class="form-dropdown" id="input_9" name="q9_2How9" style="width:150px" data-component="dropdown" aria-labelledby="label_9" required>
                <option value="">  </option>
                <option value="Aviation">Aviation/Flight Training</option>
                <option value="Agriculture">Agriculture</option>
                <option value="Animal studies">Animal studies</option>
                <option value="Architecture">Architecture</option>
                <option value="Interior Architecture">Interior architecture</option>
                <option value="Chemistry">Chemistry</option>
                <option value="Physics">Physics </option>
                <option value="Biology">Biology</option>
                <option value="Plant Biology">Plant Biology</option>
                <option value="Medicine">Medicine</option>
                <option value="Economics">Economics</option>
                <option value="Education and teaching">Education and teaching</option>
                <option value="Pharmacy">Pharmacy</option>
                <option value="Business">Business and related sciences</option>
                <option value="Advertising and marketing">Advertising and marketing</option>
                <option value="Finance and banking">Finance and banking</option>
                <option value="Arts">Arts</option>
                <option value="Acting">Acting</option>
                <option value="Graphic design">Graphic design</option>
                <option value="Hospitality Managment">Hospitality Managment</option>
                <option value="Nursing">Nursing</option>
                <option value="Nutrition">Nutrition</option>
                <option value="Human resourses">Human resourses</option>
                <option value="Travel and tourism managment">Travel and tourism managment</option>
                <option value="Restaurant/Food Services Management">Restaurant/Food Services Management</option>
                <option value="International Law">International Law</option>
                <option value="Telecommunication">Telecommunication</option>
                <option value="Journalism">Journalism</option>
                <option value="Radio and Television">Radio and Television</option>
                <option value="Computer and Information Sciences">Computer and Information Sciences</option>
                <option value="Technology">Technology</option>
                <option value="Engineering ">Engineering </option>
                <option value="Literature">Literature</option>
                <option value="Photograph">Photography0</option>
                <option value="Sports">Sports</option>
                <option value="Music">Music</option>
                <option value="Health">Public health</option>
                <option value="Criminology">Criminology</option>
                <option value="Dentisry">Dentisry</option>
                <option value="Petrolium">Petrolium</option>
                <option value="Translation">Translation</option>
                <option value="Mathematic and statistics">Mathematic and statistics</option>
                <option value="International affairs">International affairs</option>
              </select>
            </div>
            <br>
            <div class="mb-3">
              <label for="volunteer">6. Any volunteering work?</label>
              <div class="input-group">
                <mat-radio-group name="volunteer" >
                  <div class="form-check">
                    <mat-radio-button ngDefaultControl value="true" id="volunteeryes">
                        Yes
                      </mat-radio-button>
                  </div>
                  <div class="form-check">
                    <mat-radio-button ngDefaultControl value="false" id="volunteerno">
                        No
                      </mat-radio-button>
                  </div>
                </mat-radio-group>
              </div>
            </div>
          
            <div class="mb-3">
              <label for="club">7. Any club membership?</label>
              <div class="input-group">
                <mat-radio-group name="club" >
                  <div class="form-check">
                    <mat-radio-button ngDefaultControl value="true" id="clubyes">
                        Yes
                      </mat-radio-button>
                  </div>
                  <div class="form-check">
                    <mat-radio-button ngDefaultControl value="false" id="clubno">
                        No
                      </mat-radio-button>
                  </div>
                </mat-radio-group>
              </div>
            </div>

            <div>
              <label>8. Please enter your family income per month (including yours if you work)</label>
              <br>
              <input type="text" 
              class="form-radio-other-input form-textbox" 
              name="age" data-otherhint="income" 
              size="15" 
              id="incom" 
              tabindex="-1"> $
              </div>
              <br>

            
        <button mat-raised-button color="primary" >
            Submit
        </button>


        </form>