.toolbar{
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #333;
    color:#eeeeee;
    font-weight: 600;
  

}

  .toolbar img {
    margin: 0 16px;
  }
  
  a {
    color: slategrey;
    text-decoration: none;
  }

  a:hover {
    display: inline-flex;
    color:white;
  }
  ul{
    list-style-type: none;
    display:flex;
  }
  li{
  margin: 4px;
  }