<!--Main layout-->
<main class="img mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Review Billing Information</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form class="card-body" 
            (ngSubmit)="proceed(f)"
             #f="ngForm" 
             ngNativeValidate>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--firstName-->
                  <div class="md-form ">
                    <input type="text" required 
                    ngModel #firstname="ngModel" name="firstname" class="form-control" id="firstname">
                    <label for="firstName" class="">First name</label>
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--lastName-->
                  <div class="md-form">
                    <input type="text" required 
                    ngModel #lastname="ngModel" name="lastname" class="form-control" id="lastname">
                    <label for="lastName" class="">Last name</label>
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Username-->
              <div class="md-form input-group pl-0 mb-5">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" required
                name="username"id="username"
                class="form-control py-0" placeholder="Username" aria-describedby="basic-addon1">
              </div>

              <!--email-->
              <div class="md-form mb-5">
                <input type="text" required
                ngModel #email="ngModel" name="email" id="email"
                class="form-control" placeholder="youremail@example.com">
                <label for="email" class="">Email (optional)</label>
              </div>

              <!--address-->
              <div class="md-form mb-5">
                <input type="text" class="form-control" placeholder="" required
                ngModel #address="ngModel" name="address" id="address">
                <label for="address" class="">Address</label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5">
                <input type="text" id="address-2" class="form-control" placeholder="">
                <label for="address-2" class="">Address 2 (optional)</label>
              </div>

              <!--phone-->
              <div class="md-form mb-5">
              <input type="phone" class="form-control" placeholder="+961" required
              ngModel #phone="ngModel" name="phone"id="phone">
              <label for="address-2" class="">Phone number</label>
              </div>                                    
      

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Country</label>
                  <select class="custom-select d-block w-100"
                  ngModel #country="ngModel" name="country" id="country"
                  required>
                    <option value="">Choose...</option>
                    <option>Lebanon</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="state">City</label>
                  <select class="custom-select d-block w-100" 
                  ngModel #state="ngModel" name="state" id="state"
                  required>
                    <option value="">Choose...</option>
                    <option>Beirut</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="zip">Zip</label>
                  <input type="text" class="form-control"  placeholder="" 
                  ngModel #zip="ngModel" name="zip" id="zip"
                  required>
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              
                <div class="mb-3">
                  <label for="cancer"> Payment Method:</label>
                  <div class="input-group">
                    <mat-radio-group
                    required
                     ngModel
                     #payment="ngModel" 
                     name="payment"
                     id="payment" >
                      <div class="form-check">
                        <mat-radio-button value="visa" ngDefaultControl>
                          <i class="fab fa-cc-visa"></i>
                            VisaCard
                        </mat-radio-button>
                      </div>
                      <div class="form-check">
                        <mat-radio-button value="master" ngDefaultControl>
                          <i class="fab fa-cc-mastercard"></i>
                            MasterCard
                        </mat-radio-button>
                      </div>
                      <div class="form-check">
                        <mat-radio-button value="paypal" ngDefaultControl>
                          <i class="fab fa-cc-paypal"></i>
                            Paypal
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>
            

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="cc-name">Name on card</label>
                  <input type="text" class="form-control" id="cc-name" placeholder="" required>
                  <small class="text-muted">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="cc-number">Credit card number</label>
                  <input type="text" class="form-control" id="cc-number" placeholder="" required>
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">Expiration</label>
                  <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                  <div class="invalid-feedback">
                    Expiration date required
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">CVV</label>
                  <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
              </div>
              <hr class="mb-4">
              <button class="btn btn-lg btn-block btn-success text-uppercase" type="submit"
              >Purchase</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4" 
        style="background-color: aliceblue;height: fit-content;
        padding-bottom: 1rem;padding-top: 1rem;">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">{{cartProducts.length}}</span>
            <span class="badge badge-secondary badge-pill"></span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            <li class="list-group-item d-flex justify-content-between lh-condensed" 
            *ngFor="let item of cartProducts; index as i">
              <div>
                <h6 class="my-0">Item {{i+1}}</h6>
                <small class="text-muted">{{item.name}}</small>
              </div>
              <span class="text-muted">{{item.price}} $</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Discount</h6>
                <small>description</small>
              </div>
              <span class="text-success">-$</span>
            </li>
            <li
            class="list-group-item d-flex justify-content-between">
              <span>{{Sum()}}</span>
              <strong>$</strong>
            </li>
          </ul>
          <!-- Cart -->

          <!-- Promo code 
          <form class="p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
              </div>
            </div>
          </form>
          Promo code -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->