<div class="img container" 
style="font-weight: bold;
font-family: monospace;
color:aliceblue;
font-size: larger;">

<div class="login-wrapper" 
fxLayout="row"
fxLayoutAlign="center center">

<mat-card class="box">
  
 <mat-card-header>
  <mat-card-title>Please answer all the questions</mat-card-title>
</mat-card-header>


 <form class="col-md-12 simulation4" 
 (ngSubmit)="getSimulation4(f)" 
 #f="ngForm" 
 ngNativeValidate>

            <mat-card-content>

           
            <div>
                <label>1. Please enter your total house number</label>
                <br>
                <input type="text" 
                required
                ngModel
                #house="ngModel"
                class="form-radio-other-input form-textbox" 
                name="house"
                size="15" 
                id="house" 
                tabindex="-1">
              </div><br>
                

                 <div>
                    <label>2. Please enter your total cars number</label>
                    <br>
                    <input type="text" 
                    class="form-radio-other-input form-textbox" 
                    required
                    ngModel
                    #car="ngModel"
                    name="car"
                    size="15" 
                    id="car" 
                    tabindex="-1">
                  </div><br>
                    

                    <div class="mb-3">
                        <label for="loans">3. Have you ever taken any banks loans?</label>
                        <div class="input-group">
                          <mat-radio-group 
                          required
                          ngModel
                          #loans="ngModel"
                          name="loans" >
                            <div class="form-check">
                              <mat-radio-button ngDefaultControl value="true" id="loansyes">
                                  Yes
                                </mat-radio-button>
                            </div>
                            <div class="form-check">
                              <mat-radio-button ngDefaultControl value="false" id="loansno">
                                  No
                                </mat-radio-button>
                            </div>
                          </mat-radio-group>
                        </div>
                      </div>

                      <label class="form-label form-label-left form-label-auto">4. Choose your marial status</label>
                      <div class="form-input">
                      <select 
                      required
                      ngModel
                      #marial="ngModel"
                      class="form-dropdown" 
                      name="marial" 
                      style="width:150px"
                      data-component="dropdown" >
                      <option disabled  hidden selected></option>
                      <option ngValue="s">Single</option>
                      <option ngValue="e">Engaged</option>
                      <option ngValue="m">Married - Dont Have Children</option>
                      <option ngValue="mc">Married - Have Children</option>
                      <option ngValue="d">Divorced</option>
                      <option ngValue="w">Widower</option>
                      </select>
                      </div>
                      <br>
                      <div>
                        <label>5. Please enter your children number (0 if you don't have)</label>
                        <br>
                        <input type="text" 
                        required
                        ngModel
                        #nchild="ngModel"
                        class="form-radio-other-input form-textbox" 
                        name="nchild"
                        size="15" 
                        id="nchild" 
                        tabindex="-1">
                    </div>
                        <br>

                        <div>
                            <label>6. Please enter your family income per month (including yours if you work)</label>
                            <br>
                            <input type="text" 
                            required
                            ngModel
                            #income="ngModel"
                            class="form-radio-other-input form-textbox" 
                            name="income"
                            size="15" 
                            id="income" 
                            tabindex="-1"> $
                            </div>
                            <br>

                            <div>
                                <label>7. Please enter your current address</label>
                                <br>
                                <input type="text" 
                                required
                                ngModel
                                #address="ngModel"
                                class="form-radio-other-input form-textbox" 
                                name="address"
                                size="15" 
                                id="address" 
                                tabindex="-1"> 
                                </div>
                                <br>
                              </mat-card-content>
            
        <button mat-raised-button color="primary"
        style="margin-bottom: 1rem;" >
            Submit</button>
        </form>
  </mat-card>

    </div>
</div>