<div class=" img center">
    
<div class="login-wrapper" 
fxLayout="row"
fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log In</mat-card-title>
      </mat-card-header>
  
      <form 
      (ngSubmit)="login(f)" 
      #f="ngForm" 
      ngNativeValidate
      class="example-form">

      <div *ngIf="!valid" class="alert alert-danger">
        Invalid Username or Password
      </div>

        <mat-card-content>

          <mat-form-field class="example-full-width">
            <input matInput 
            ngModel 
            #username="ngModel"
            required
            name="username"
            placeholder="Username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput 
            type="password"
            ngModel #password="ngModel"
            required
            name="password"
            placeholder="Password">
          </mat-form-field>
        </mat-card-content>

        <button mat-stroked-button color="accent" class="btn-block">Log in</button><br><br>
        <a href routerLink='/signin'>Not registered yet? <br>Sign up to get started.</a>
      </form>
    </mat-card>
  
  </div>
  </div>