<app-header></app-header>
<div class="content" role="main">
    <div class="card-container">
      <div class="card highlight-card card-small">
        <span>
          We are ready to assist you at every step of the way! make sure to buy our products.
        </span>
      </div>

      <div class="divv">
        <a class="card" target="_blank" rel="noopener" href="/products">
          <span> See all products</span>
          <svg class="material-icons"  width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
        </a>
    
        <a class="card" target="_blank" rel="noopener" href="">
          <span> View Offers</span>
          <svg class="material-icons"  width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
        </a>
      </div> 
    </div>
  </div>
  <app-footer></app-footer>
  
    