

 <div class="card">
    <ng-container>

        <img class="card-image" [src]="product.logo" 
        alt="{{product.name}}" 
        class="card-img-top center"
        style="max-width: 150px;
               max-height: 150px;"> 

    <a href [routerLink]="'/products/details/' + product.id">
        <div class="card-body" style="text-align: center"> 
            <h5 class="card-title" style="display: contents"> {{product.name}}</h5>
        </div>
    </a>
  

    </ng-container>
 </div>
   