<div class="card-group" style="display: flex;">
    <ng-container *ngFor= "let product of (products | async) ">
    <div class="card"  style=  "block-size: auto;">
    <div class="center">
            <h5 class="card-title" style="display: contents"> {{product.name}}</h5>
            <span>
                <img class="card-image" [src]="product.logo" 
                alt="{{product.name}}" 
                class="img-responsive"
                 style="max-width: 150px;
                 max-height: 150px;">
            </span>
    </div>
            <div class="card-body" style="text-align: center"> 
            <a href [routerLink]="'/products/details/' + product.id">
            <button mat-raised-button color="primary">
               More details
            </button>
            </a>
        </div>  
    </div>
</ng-container>
</div>


