
 <div style="
 width: max-content;
 height: 45px;
 margin-top: 30px;">
  <span style="margin-left: 500px;
  font-family: monospace;
  font-weight: 700;">This is the total price based on your chosen entries:</span>
 </div>
<div id="pricing">
  <div class="price_card alpha">
      <div class="header">
          <span class="price">{{r}} US</span>
          <span class="name">Standard Pack</span>
      </div>
      <ul class="features">
          <li>Includes Complete documentation</li>
      </ul>
      <ng-container *ngIf="customer$ | async">
      <button (click)="add()">Add to cart</button></ng-container>
  </div>
</div>

<br>
<a 
href="/contactus"
>
<button mat-raised-button color="primary">
  Contact Us
</button>
</a>
