<div class="row">
    <div class="col-xs-12">
        <ng-container *ngFor= "let product of (products | async) ">
            <div style="display: inline-grid">
            <h5 style="display: contents"> {{product.name}}</h5>
            <span>
                <img [src]="product.logo" 
                alt="{{product.name}}" 
                class="img-responsive"
                 style="max-height:50px;">
            </span>  
            <a href [routerLink]="'/products/details/' + product.id">
            <button mat-raised-button color="primary"(click)="details()">
                More details
            </button>
            </a>
        </div>
    <!-- <h6>
    {{product.description}}
    </h6>
              
    <h4>       
     Starting price: {{product.price}} $
    </h4> -->
          
                    
        
        </ng-container>
    </div>
</div>