<div class=" img center">
    <form id="contact-form" name="contact-form" action="mail.php" method="POST">

    <mat-card class="box">

        <mat-card-header>
          <mat-card-title>Contact Us</mat-card-title>
        </mat-card-header>
        <br>
        <p class="text-center w-responsive mx-auto mb-5">
          Do you need more details?<br>Please do not hesitate to contact us directly.
        </p>
        <mat-card-content>

            <mat-form-field class="example-full-width">
              <input matInput 
              type="text"
              class="form-control"
              name="name"
              placeholder="Your full name">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <input matInput 
              type="email"
              class="form-control"
              name="email"
              placeholder="Your email">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <input matInput 
                type="text"
                class="form-control"
                name="subject"
                placeholder="Subject">
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width">
                <textarea matInput 
                type="textarea"
                class="form-control"
                name="message"
                placeholder="Your message">
              </textarea>
              </mat-form-field>
              <br>
              <div class="text-center text-md-left">
                <button style="width: fit-content" 
                mat-stroked-button color="accent" 
                class="btn-block">
                Send
            </button>
            </div>

          </mat-card-content>
        </mat-card>
    </form>

    <section class="page-section" id="contact" style="margin-left: auto">
        <div class="container" style="text-align: -webkit-center;">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="mt-0" style=" color: aliceblue">Let's Get In Touch!</h2>
              <hr class="divider my-4" style="color: aliceblue;">
              <p class="mb-5"style="color:aliceblue">Do you have any question? 
                  Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
          </div>

          <div style="display: flex; margin-left: 60px" class="row justify-content-center">

            <div class="col-lg-4 mr-auto text-center">
              <i class="fas fa-phone fa-3x mb-3 text-muted" style="font-size: x-large" ></i>
              <div style="color: aliceblue">+1 (111) 111-1111</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
              <i class="fas fa-envelope fa-3x mb-3 text-muted" style="font-size: x-large"></i>
              <a  style="color: aliceblue" class="d-block" href="mailto:kalInsurance@gmail.com">kalInsurance@gmail.com</a>
            </div>

          </div>
        </div>
      </section>
</div>
            




