.toolbar{
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #333;
    color:#eeeeee;
    font-weight: 600;
  

}

.container, .container-md, .container-sm{
  max-width: 100%;
  width: 100%;
  padding-right: 0px; 
  padding-left: 0px; 
  margin-right: 0px; 
  margin-left: 0px;
}

  .toolbar img {
    margin: 0 16px;
  }
  
  a {
    color: silver;
    text-decoration: none;
  }

  a:hover {
    display: inline-flex;
    color:white;
  }
  ul{
    list-style-type: none;
    display:flex;
  }
  li{
  margin: 4px;
  }
  h3{color: whitesmoke;}